body {
  background-image: linear-gradient(to right, white , #F0F8FF);

}

#footer2
  {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    /* margin-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    background-color: #36454f;
    color: white;
    height-max: 70px;
}

.line {
  padding-right: 5px;
}

input#upload {
    position: relative;
    margin-top: 10%;
    margin-left: 45%;
    width: -webkit-fill-available;
}
