body {
  background-image: linear-gradient(to right, white , #F0F8FF);

}

#header1 {
   overflow: hidden;
  position: fixed;
  top:0; 
  background-color: white;
  width: 100%;
  max-height: 100px;
  margin: auto;
  z-index: 1;
  box-shadow: 0px 15px 10px -15px #111;
}



#footer2
  {
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    /* margin-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    background-color: #36454f;
    color: white;
    height-max: 70px;
}

.line {
  padding-right: 5px;
}

/*input#image_input {
    position: relative;
    margin-top: 10%;
    margin-left: 45%;
    padding-bottom: 5px;
    width: -webkit-fill-available;
} */

#display_image {
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    box-shadow: 0px 20px 30px 0px lightgray;
    background-color: white;
    height: 500px;
    width: 60%;
    margin-left: 10%;
    margin-top: 100px;
  
}

.grid {
    
  	display: inline-flex;
    flex-direction: column;
    text-align: center;
    
}

a {
    text-decoration: none;
    font-size: x-small;
    font-family: emoji;
    color: currentColor;
    font-weight: 600;
}

img {
  transform: scale(0.8);
}

@media only screen and (max-width: 490px){
 #header1 {
    max-height: 55px;
    position: absolute;
    padding-top: 30px;
    background-color: white;
    color: black;
}
  
  #display_image {
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    box-shadow: 0px 20px 30px 0px lightgray;
    background-color: white;
    height: 500px;
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
    margin-bottom: -30px;
}
  

  


#footer2 {
    transform: scale(0.8);
    width: 120%;
    margin-left: -40px;
}
  }
}
