nav a{
  float: left;
  color: #333;
  text-align: center;
  padding: 0.9rem 1rem;
  text-decoration: none;
  font-size: 17px;
}

nav {
    overflow: hidden;
    
    border-radius: 15px;
    width: 75%;
    margin: auto;
    
}

header img {
   float: right;
    
}

#main {
    width: 90%;
    margin: auto;
}

h1 {
    font-family: 'Garamond';
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .img {
    
    float: right;
      margin: 0 0 0 15px;
  }
  
  .text {
    font-family: 'sans-serif';
    float: left;
    text-indent: 2em;
    word-spacing: 0.5rem;
    line-height: 1.3;
    text-align: left;
    font-size: 16px;
  }

#teachings {
    padding-top: 1rem;
    text-indent: 1rem;
}

ul li {
    text-indent: 2em;
    word-spacing: 0.5rem;
    line-height: 1.3;
    text-align: left;
    font-size: 16px;
    margin-left: 1rem;
    
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}


a { 
    text-decoration: none;
    color: #00e;
}
a:visited { color: #551a8b; }
a:hover { color: #06e; }​
